.header {
  width: 100%;
  margin-top: 100;
}

.header-container {
  background: url(../img/law-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0 300px 0;
  height: auto;
}

