#DivDwnldSec {
  background-color: rgba(51,51,51,0.04);
  min-height: 300px;
  margin-top: 25px;
  padding: 20px;
}

.dwnldApp {
  text-align: center;
}

.dwnldicon {
  font-size: 100px;
  color: #855952;
}

ul {
  list-style: none;
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #fea53b;
}

.nav-link:hover {
  color: #fea53b;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(254,165,59);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  color: white;
}

